<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width= , initial-scale=1.0">
    <link rel="stylesheet" href="./CSS/index.CSS">
    <title>Form Login </title>
</head>
<body>
    <div class="login-box">
        <img class="avatar" src="../template/imagenes/download.jpeg" alt="logo user">
        <h1>Login here</h1>
        <form>

            <!-- USERNAME -->
            <label for="username">Username</label>
            <input type="text" placeholder="Enter Userame">

            <!--PASSWORD  -->
            <label for="password">Password</label>
            <input type="password" placeholder="Enter password">

            <input type="submit" value="Log in">

            <a href="#">Lost your password</a>
            <a href="#">Don't have an account?</a>
        </form> 
    </div>
    
</body>
</html> 